<div class="modal fade in" id="streamModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Streaming Video & Audio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <video id="remote-stream" style="width:95%" controls ></video>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-4 col-md-push-6">
                        <div class="pull-right">
                            <video id="local-stream" width="170" controls ></video>
                        </div>
                    </div>
                </div>       
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-danger"  data-dismiss="modal"> 
                Kết thúc
                </button>
            </div>
        </div>
    </div>
</div>   